.container {
  width: 187px;
  position: fixed;
  .body {
    background: #fff;
    color: #666;
    border-radius: 10px;

    .header {
      padding: 25px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .introduce {
        text-align: center;
        .avatar {
          background-image: url(../../../images/avatar.jpg);
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-size: 100% 100%;
          margin-bottom: 10px;
        }
      }
    }

    .menu {
      // border-top: 1px solid #f3f3f3;
    }
  }
}