.container {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  .body {
    width: 1200px;
  }

  .leftResume {
    width: calc(100% * 1 / 6.001);
  }

  .content {
    width: calc(100% * 5 / 6.001);
    margin-left: calc(100% * 1 / 6.001 + 20px);
    background: #fff;
    color: #666;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgb(0 0 0);
    padding: 30px 25px;
  }
}