html {
  --view-minmax: calc((100vw - 500px) / (1920 - 500));
  --size-h1: calc(42px + (88 - 42) * var(--view-minmax));
  --size-h2: calc(22px + (34 - 22) * var(--view-minmax));
  font-family: 'Ch';

  body {
    background-color: #f1f2f9;
    font-family: 'Ch';
  }

  h1 {
    font-family: 'Ch';
  }
}

.wrapper {
  background: black;
  overflow: hidden;

  .container {
    position: relative;
    padding-bottom: 200px;
    min-height: 500px;
    z-index: 10;
    background: white;
    transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);

    &.showMenu {
      transform: scale(0.8) translateX(-32vw) translateZ(0);
      cursor: pointer;
    }

    .content {
      padding-top: 102px;
      max-width: 1680px;
    }
  }

  .menu {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    z-index: 5;
    padding-top: 57.5px;
    padding-bottom: 57.5px;
    min-width: 33.3vw;
    padding-right: 4%;

    ul {
      font-family: 'En';

      li {
        margin-bottom: 12px;
        position: relative;
        list-style: none;

        .label {
          color: #ffffff;
          font-size: 47px;
          transition: transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
          position: relative;

          &::after {
            content: '';
            transform-origin: left;
            pointer-events: none;
            -webkit-transition: -webkit-transform .3s ease-out, border-color .3s ease-out;
            transition: transform .3s ease-out, border-color .3s ease-out;
            position: absolute;
            display: block;
            bottom: 0px;
            left: 0;
            width: 100%;
            -ms-transform: scaleX(0);
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            border-top: 2px solid #fff;
            padding-bottom: inherit;
          }

          &.isChosen {
            &::after {
              -ms-transform: scaleX(1);
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }

          &:hover {
            &::after {
              -ms-transform: scaleX(1);
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}