html {
  body {
    background-color: #f1f2f9;
  }
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  .body {
    width: 1400px;
    display: inline-flex;
    .leftResume {
      width: 187px;
      position: relative;
    }
  
    .content {
      width: calc(100% * 4 / 6.001);
      margin-left: 20px;
      background: #fff;
      color: #666;
      border-radius: 10px;
      padding: 30px 25px;
    }
  
    .rightTools {
      width: calc(100% * 1 / 6.001);
      position: relative;
      margin-left: 20px;
    }
  }
}